<html>
<head>
    <meta charset="UTF-8">
</head>

<body>

<div id="header">
    {{ block('header')}}
</div>

<div id="content">
    {{ block('content')}}
</div>

<div id="footer">
    {{ block('footer')}}
</div>

</body>
</html>
