<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hansefit</title>
    <style type="text/css">
        body {
            padding:0;
            margin: 0;
            font-family: "Lucida Sans Unicode", Arial;
            font-size: 14px;
            background: white url("/bundles/app/admin-static/img/Team-Motiv-B-Automobilbranche-RGB-1.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #site {
            margin: 0 auto;
            width: 600px;
            padding: 20% 0 0 0;
        }
    </style>

</head>

<body>



<div id="site">
    <div id="logo">
        <a href="https://www.hansefit.de/"><img src="/bundles/app/admin-static/img/hansefit_rgb.svg" style="width: 600px;" /></a>
    </div>


</div>

</body>
</html>
